
<div class="sideDisplay">
    <div class="title">
        <div class="titleText">Weather App</div>
    </div>
    <div class="navigation">
    <div id="homeB">
        <button id="HomeButton">Home</button>
    </div>
    <div id="aboutB">
        <button id="AboutButton">About</button>
    </div>
    <div id="helpB">
        <button id="HelpButton">Help</button>
    </div>
    </div>
    <div class="displayMiddle">
        <div class="graphic"></div>
        <div class="currentDisplay">
            <h1 class="cDText">Current Location: {{location}} </h1>
            <h1 class="cDText2">Temperature: {{temperature}} </h1>
            <h1 class="cDText3">Feels like: {{feelsLike}} </h1>
            <h1 class="cDText4">Humidity: {{humidity}} </h1>
            <h1 class="cDText5">Windspeed: {{windSpeed}} </h1>
        </div>
    </div>
    <div class="weatherDisplay"></div>
</div>